@media only screen and (max-width: 600px) {
  .gap-x-6 {
    display: block;
  }
}

.outline-dashed {
  height: auto;
}
span.mb-6 {
  margin-bottom: 0;
}

.justify-center > button {
  margin-top: 6px;
}
