/* private CSS styles */
.files {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

input {
  display: block;
  width: 100%;
  padding: .5rem;
  margin: 1rem 0;
  box-sizing: border-box;
}

.mat-mdc-list-base .mdc-list-item__content {
  width: 200px;
}



button.delete {
  position: absolute;
  left: 160px;
  background-color: white;
  color:  #525252;
  font-size: 0.6rem;
  margin: 0;
  padding: 1px 10px 3px 10px;
}

button.delete:hover {
  background-color: #525252;
  color: white;
}
